.login-container{
    justify-content: center;
}

.form{
    width: 90%;
    justify-self: center;
    margin-top: 90px;
}

.button-container{
    margin-left: 50px;
}

.aContent{
    align-items: center;
    padding-top: 5px;
}