.form{
    width: 90%;
    justify-self: center;
    margin-top: 60px;
}

.button-container{
    margin-right: 90px;
}

.aContent{
    align-items: center;
    padding: 20px;
}

.container-select{
margin-right: 20px;
}